In [42]:
import pandas as pd

In [43]:
suplier_details=pd.read_excel('AP_supp_details_dev.xls') #loaded the Suppliers Details excel file into pandas
suplier_details

,SUPPLIERID,SUPPLIER_NUMBER,SUPPLIER_NAME,TAXREGISTRATIONNUMBER,OU_NAME,ADDRESS_LINE1,ADDRESS_LINE2,ADDRESS_LINE3,ADDRESS_LINE4,CITY,ZIP,STATE,COUNTRY,ADDRESS_STYLE,PHONE,PERSON_FIRST_NAME,PERSON_LAST_NAME
0,52093,30581,ZZZ -OUTPOST24 AB,SE556615210301,3104_NO_BV NORWAY_OU,BASTIONSGATAN 6A,NaN,NaN,NaN,KARLSKRONA,37132,NaN,SE,POSTAL_ADDR_DEF,+46 708 474306,Antonella,Marrale
1,13198,8468,LENOVO PCG,NaN,3104_NO_BV NORWAY_OU,LENOVO TACHNOLOGY B.V - NORWAY BRANCH,ROSENHOLMVEIEN 25,NaN,NaN,KOLBOTN,N-1411,NaN,NO,POSTAL_ADDR_DEF,NaN,Rene,Liang
2,13198,8468,LENOVO PCG,NaN,3104_NO_BV NORWAY_OU,LENOVO TACHNOLOGY B.V - NORWAY BRANCH,ROSENHOLMVEIEN 25,NaN,NaN,KOLBOTN,N-1411,NaN,NO,POSTAL_ADDR_DEF,NaN,TOM SUNGHOON,HONG
3,13198,8468,LENOVO PCG,NaN,3104_NO_BV NORWAY_OU,LENOVO TACHNOLOGY B.V - NORWAY BRANCH,ROSENHOLMVEIEN 25,NaN,NaN,KOLBOTN,N-1411,NaN,NO,POSTAL_ADDR_DEF,NaN,ILKKA,YLIHAERSILAE
4,13198,8468,LENOVO PCG,NaN,3104_NO_BV NORWAY_OU,LENOVO TACHNOLOGY B.V - NORWAY BRANCH,ROSENHOLMVEIEN 25,NaN,NaN,KOLBOTN,N-1411,NaN,NO,POSTAL_ADDR_DEF,NaN,BELEN GARCIA,ESPADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,2075235,38214,COLLECTING AGENCY,NaN,3104_NO_BV NORWAY_OU,KREDITOR VEST AS,FJOSANGERVEIEN 50,NaN,NaN,BERGEN,5059,NaN,NO,POSTAL_ADDR_DEF,NaN,Den,Boer
874,12377,6928,INTERMEC TECHNOLOGIES CORPORATION,NaN,3104_NO_BV NORWAY_OU,INTERMEC TECHNOLOGIES UK LTD,HONEYWELL HOUSE,SKIMPED HILL LANE,NaN,BRACKNELL,RG12 1EB,NaN,GB,POSTAL_ADDR_DEF,312 254 654,Mary,Thrasher
875,11134,404,DELL,NaN,3104_NO_BV NORWAY_OU,DELL AS,LILLEAKERVEIEN 2B,NaN,NaN,OSLO,283,NaN,NO,POSTAL_ADDR_DEF,NaN,Bethany,Fergusson
876,11134,404,DELL,NaN,3104_NO_BV NORWAY_OU,DELL AS,LILLEAKERVEIEN 2B,NaN,NaN,OSLO,283,NaN,NO,POSTAL_ADDR_DEF,NaN,Stephan,Jung
877,11134,404,DELL,NaN,3104_NO_BV NORWAY_OU,DELL AS,LILLEAKERVEIEN 2B,NaN,NaN,OSLO,283,NaN,NO,POSTAL_ADDR_DEF,NaN,Ahsan,Ali

In [66]:
type(suplier_details)

pandas.core.frame.DataFrame

In [57]:
len(suplier_details) #number of records in Supplier_details

878

In [56]:
Supplier_Master=suplier_details.drop_duplicates(subset = ["SUPPLIERID"])
print(Supplier_Master)     #droping the duplicates and get the unique values

     SUPPLIERID  SUPPLIER_NUMBER                                SUPPLIER_NAME  \
0         52093            30581                            ZZZ -OUTPOST24 AB
1         13198             8468                                   LENOVO PCG
5          1334             1045                     ORANGE BUSINESS SERVICES
7         10493             2500                            DELOITTE & TOUCHE
15         3497              133                          HEWLETT PACKARD INC
..          ...              ...                                          ...
721      374210            34434                    ZZZ - PHILLIPINE AIRLINES
781       10869              317                                COMPUTACENTER
841      199210            33130  ZZZ - PETER F BROWN INDEPENDENT CONSULTANTX
844      439223            34805                            CAVERION NORGE AS
847      548214            35201                                  ZZZ - IB SA

    TAXREGISTRATIONNUMBER               OU_NAME  \
0          SE556615210301  3104_NO_BV NORWAY_OU
1                     NaN  3104_NO_BV NORWAY_OU
5                     NaN  3104_NO_BV NORWAY_OU
7                     NaN  3104_NO_BV NORWAY_OU
15                    NaN  3104_NO_BV NORWAY_OU
..                    ...                   ...
721                   NaN  3104_NO_BV NORWAY_OU
781                   NaN  3104_NO_BV NORWAY_OU
841                   NaN  3104_NO_BV NORWAY_OU
844       949 069 743 MVA  3104_NO_BV NORWAY_OU
847                   NaN  3104_NO_BV NORWAY_OU

                             ADDRESS_LINE1                     ADDRESS_LINE2  \
0                         BASTIONSGATAN 6A                               NaN
1    LENOVO TACHNOLOGY B.V - NORWAY BRANCH                 ROSENHOLMVEIEN 25
5          ORANGE BUSINESS HOLDINGS UK LTD                    BETJEMAN PLACE
7                      POSTBOKS 347 SKOYEN                KARENSLYST ALLE 20
15      HEWLETT PACKARD ENTERPRISE COMPANY               3000 HANOVER STREET
..                                     ...                               ...
721                    AIRCRAFT OPERATIONS  SERVICES DEPARTMENT PAL GATE 1-A
781                      1 WESTPOINT COURT                   GREAT PARK ROAD
841                   200 S BARRINGTON AVE                             49719
844                       OLE DEVIKSVEI 10                               NaN
847                                     HQ            1 PLACE DE LA PYRAMIDE

     ADDRESS_LINE3 ADDRESS_LINE4                CITY         ZIP STATE  \
0              NaN           NaN          KARLSKRONA       37132   NaN
1              NaN           NaN             KOLBOTN      N-1411   NaN
5    217 BATH ROAD           NaN              SLOUGH     SL1 4AA   NaN
7              NaN           NaN                OSLO        0213   NaN
15             NaN           NaN           PALO ALTO       94304    CA
..             ...           ...                 ...         ...   ...
721        NICHOLS           NaN  PASAY CITY, MANILA        1300   NaN
781            NaN           NaN         ALMONDSBURY    BS32 4PS   NaN
841            NaN           NaN         LOS ANGELES  90049-0719    CA
844            NaN           NaN                OSLO         666   NaN
847   LA DEFENSE 9           NaN    PARIS LA DEFENSE       92911   NaN

    COUNTRY    ADDRESS_STYLE           PHONE PERSON_FIRST_NAME  \
0        SE  POSTAL_ADDR_DEF  +46 708 474306         Antonella
1        NO  POSTAL_ADDR_DEF             NaN              Rene
5        GB  POSTAL_ADDR_DEF             NaN           bernard
7        NO  POSTAL_ADDR_DEF             NaN               NaN
15       US   POSTAL_ADDR_US             NaN            celine
..      ...              ...             ...               ...
721      PH  POSTAL_ADDR_DEF             NaN             Terry
781      GB  POSTAL_ADDR_DEF             NaN               NaN
841      US              NaN     13106942278             Peter
844      NO  POSTAL_ADDR_DEF             NaN              Bent
847      FR  POSTAL_ADDR_DEF       442166098           Cyrille

    PERSON_LAST_NAME
0            Marrale
1              Liang
5                ong
7              Botan
15             leroy
..               ...
721         Deligero
781          Unknown
841            Brown
844         Hogemark
847           Andreu

[104 rows x 17 columns]

In [58]:
len(unique_suplier_details)   #number of records in Suppler_Master

104

In [46]:
import pymysql # import pymusql to connect the df to mysql

In [47]:
conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='deeraj',db='suppliers') #connecting to mysql

In [59]:
Suppliers_Table=pd.read_sql_query("SELECT * FROM suppliers.suplier ",conn) #Read the table from mysql database using pandas
print(Suppliers_Table)

    SUPPLIERID  SUPPLIER_NUMBER                                SUPPLIER_NAME  \
0       175193            32407                                       ITELLO
1         6889            18725                                  BLUELON APS
2       490227            35094                ZZZ - Testing Solutions Group
3         1082              101                          ESP GLOBAL SERVICES
4         1082              101                          ESP GLOBAL SERVICES
5       210198            33371                                    DORMAKABA
6       210198            33371                                    DORMAKABA
7       210198            33371                                    DORMAKABA
8       210198            33371                                    DORMAKABA
9       210198            33371                                    DORMAKABA
10        1812              111                             FORMGRAPHICS LTD
11        7300            19336                                    AVINOR AS
12        5101            15942  ACCLIVIS TECHNOLOGIES AND SOLUTIONS PTE LTD
13      205233            33315                          XXX - SUPERDIST LTD
14      874224            35945                  ZZZ - FRANKLINCOVEY BELGIUM
15      210198            33371                                    DORMAKABA
16      210198            33371                                    DORMAKABA
17     3627249            41656                            ELTEL NETWORKS AS
18        3756            13609                               ALD AUTOMOTIVE
19        1082              101                          ESP GLOBAL SERVICES
20       12682               76                                        DESKO
21       12682               76                                        DESKO
22      210198            33371                                    DORMAKABA
23      210198            33371                                    DORMAKABA
24      210198            33371                                    DORMAKABA
25      210198            33371                                    DORMAKABA
26        6889            18725                                  BLUELON APS
27       25063            30043                   ZZZ - SEA-TAC VENTURE, LLC
28       12377             6928            INTERMEC TECHNOLOGIES CORPORATION
29      174193            32406                        BRONNOYSUNDREGISTRENE
30        3756            13609                               ALD AUTOMOTIVE
31        6889            18725                                  BLUELON APS
32      719232            35655                                   FINN.NO AS
33      210198            33371                                    DORMAKABA
34      210198            33371                                    DORMAKABA
35     3627249            41656                            ELTEL NETWORKS AS
36       12377             6928            INTERMEC TECHNOLOGIES CORPORATION
37        7305            19341            OLTD OSLO LUFTHAVN TELE & DATA AS
38      175193            32407                                       ITELLO
39      668223            35545                 ZZZ - BLUETEL NETWORKS PTE L
40      210198            33371                                    DORMAKABA
41      210198            33371                                    DORMAKABA
42        7305            19341            OLTD OSLO LUFTHAVN TELE & DATA AS
43        5087            15908                 MINDCOR CONSULTING (PTY) LTD
44       12378             6929                  OMNIDATA SERVICES GROUP LLC
45       14023               97                         ELECDAN DISTRIBUTION
46      210198            33371                                    DORMAKABA
47      210198            33371                                    DORMAKABA
48       10869              317                                COMPUTACENTER
49      548214            35201                                  ZZZ - IB SA
50      668223            35545                 ZZZ - BLUETEL NETWORKS PTE L

   TAXREGISTRATIONNUMBER               OU_NAME  \
0            992 009 241  3104_NO_BV NORWAY_OU
1                         3104_NO_BV NORWAY_OU
2                         3104_NO_BV NORWAY_OU
3            GB641937328  3104_NO_BV NORWAY_OU
4            GB641937328  3104_NO_BV NORWAY_OU
5                         3104_NO_BV NORWAY_OU
6                         3104_NO_BV NORWAY_OU
7                         3104_NO_BV NORWAY_OU
8                         3104_NO_BV NORWAY_OU
9                         3104_NO_BV NORWAY_OU
10                        3104_NO_BV NORWAY_OU
11             985198292  3104_NO_BV NORWAY_OU
12            200910436K  3104_NO_BV NORWAY_OU
13           VAT20176146  3104_NO_BV NORWAY_OU
14                        3104_NO_BV NORWAY_OU
15                        3104_NO_BV NORWAY_OU
16                        3104_NO_BV NORWAY_OU
17            FI15482348  3104_NO_BV NORWAY_OU
18                        3104_NO_BV NORWAY_OU
19           GB641937328  3104_NO_BV NORWAY_OU
20         208/124/30085  3104_NO_BV NORWAY_OU
21         208/124/30085  3104_NO_BV NORWAY_OU
22                        3104_NO_BV NORWAY_OU
23                        3104_NO_BV NORWAY_OU
24                        3104_NO_BV NORWAY_OU
25                        3104_NO_BV NORWAY_OU
26                        3104_NO_BV NORWAY_OU
27                        3104_NO_BV NORWAY_OU
28                        3104_NO_BV NORWAY_OU
29                        3104_NO_BV NORWAY_OU
30                        3104_NO_BV NORWAY_OU
31                        3104_NO_BV NORWAY_OU
32             981159772  3104_NO_BV NORWAY_OU
33                        3104_NO_BV NORWAY_OU
34                        3104_NO_BV NORWAY_OU
35            FI15482348  3104_NO_BV NORWAY_OU
36                        3104_NO_BV NORWAY_OU
37             978642292  3104_NO_BV NORWAY_OU
38           992 009 241  3104_NO_BV NORWAY_OU
39           200310391RX  3104_NO_BV NORWAY_OU
40                        3104_NO_BV NORWAY_OU
41                        3104_NO_BV NORWAY_OU
42             978642292  3104_NO_BV NORWAY_OU
43                        3104_NO_BV NORWAY_OU
44            27-3562929  3104_NO_BV NORWAY_OU
45                        3104_NO_BV NORWAY_OU
46                        3104_NO_BV NORWAY_OU
47                        3104_NO_BV NORWAY_OU
48                        3104_NO_BV NORWAY_OU
49                        3104_NO_BV NORWAY_OU
50           200310391RX  3104_NO_BV NORWAY_OU

                                      ADDRESS_LINE1  \
0                                         ITELLO AS
1                                NATTERGALEVEJ 6. 1
2                                14-16 Dowgate Hill
3                                       5 ACRE ROAD
4                                       5 ACRE ROAD
5                        DORMAKABA DEUTSCHLAND GMBH
6                        DORMAKABA DEUTSCHLAND GMBH
7                        DORMAKABA DEUTSCHLAND GMBH
8                        DORMAKABA DEUTSCHLAND GMBH
9                        DORMAKABA DEUTSCHLAND GMBH
10                                  LONGFERRY HOUSE
11                                     POSTBOKS 150
12                        29 TAI SENG AVENUE #05-01
13                                    ANSE COURTOIS
14                           SCHALIÃ‹NHOEVEDREEF 20T
15                       DORMAKABA DEUTSCHLAND GMBH
16                       DORMAKABA DEUTSCHLAND GMBH
17                                ELTEL NETWORKS AS
18                                  FORNEBUVEIEN 37
19                                      5 ACRE ROAD
20                                       DESKO GMBH
21                                       DESKO GMBH
22                       DORMAKABA DEUTSCHLAND GMBH
23                       DORMAKABA DEUTSCHLAND GMBH
24                       DORMAKABA DEUTSCHLAND GMBH
25                       DORMAKABA DEUTSCHLAND GMBH
26                               NATTERGALEVEJ 6. 1
27                        18000 INTERNATIONAL BLVD.
28  DO NOT USE >>> USE supplier nbr 10920 HONEYWELL
29                               NNOYSUNDREGISTRENE
30                                  FORNEBUVEIEN 37
31                               NATTERGALEVEJ 6. 1
32                                    POSTBOKS 1511
33                       DORMAKABA DEUTSCHLAND GMBH
34                       DORMAKABA DEUTSCHLAND GMBH
35                                ELTEL NETWORKS AS
36  DO NOT USE >>> USE supplier nbr 10920 HONEYWELL
37                                       POSTBOKS 3
38                                        ITELLO AS
39                        35 TAI SENG STREET #01-01
40                       DORMAKABA DEUTSCHLAND GMBH
41                       DORMAKABA DEUTSCHLAND GMBH
42                                       POSTBOKS 3
43                                       MINDCENTRE
44                      OMNIDATA SERVICES GROUP LLC
45                 CE401 PARC VALAD - ZA DES GODETS
46                       DORMAKABA DEUTSCHLAND GMBH
47                       DORMAKABA DEUTSCHLAND GMBH
48                                  HATFIELD AVENUE
49                                               HQ
50                        35 TAI SENG STREET #01-01

                   ADDRESS_LINE2             ADDRESS_LINE3 ADDRESS_LINE4  \
0                EKHOLTVEIEN 114
1
2
3
4
5        NIKOLAUS OTTO STRASSE 1
6        NIKOLAUS OTTO STRASSE 1
7        NIKOLAUS OTTO STRASSE 1
8        NIKOLAUS OTTO STRASSE 1
9        NIKOLAUS OTTO STRASSE 1
10                82 HIGH STREET
11
12    NATURAL COOL LIFESTYLE HUB
13
14
15       NIKOLAUS OTTO STRASSE 1
16       NIKOLAUS OTTO STRASSE 1
17                PB 434 ALNABRU
18
19
20          GOTTLIEB KEIM STR 56
21          GOTTLIEB KEIM STR 56
22       NIKOLAUS OTTO STRASSE 1
23       NIKOLAUS OTTO STRASSE 1
24       NIKOLAUS OTTO STRASSE 1
25       NIKOLAUS OTTO STRASSE 1
26
27
28        16201 25TH AVENUE WEST
29                    PO BOX 900
30
31
32
33       NIKOLAUS OTTO STRASSE 1
34       NIKOLAUS OTTO STRASSE 1
35                PB 434 ALNABRU
36        16201 25TH AVENUE WEST
37
38               EKHOLTVEIEN 114
39  TATA COMMUNICATIONS EXCHANGE        35 TAI SENG STREET
40       NIKOLAUS OTTO STRASSE 1
41       NIKOLAUS OTTO STRASSE 1
42
43                1 ETTRICK ROAD
44              10682 JONES ROAD                 SUITE 200
45  2 RUE DU BUISSON AUX FRAISES  2 IMPASSE DE LA NOISETTE
46       NIKOLAUS OTTO STRASSE 1
47       NIKOLAUS OTTO STRASSE 1
48        HATFIELD BUSINESS PARK
49        1 PLACE DE LA PYRAMIDE              LA DEFENSE 9
50  TATA COMMUNICATIONS EXCHANGE        35 TAI SENG STREET

                    CITY       ZIP STATE COUNTRY    ADDRESS_STYLE       PHONE  \
0                   MOSS    N-1526            NO  POSTAL_ADDR_DEF    90047500
1             COPENHAGEN   DK 2400            DK  POSTAL_ADDR_DEF    33254012
2                 London   EC4R2SU            GB  POSTAL_ADDR_DEF  2074691500
3                READING     RG2 0            GB  POSTAL_ADDR_DEF  1189169300
4                READING     RG2 0            GB  POSTAL_ADDR_DEF  1189169300
5                   BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
6                   BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
7                   BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
8                   BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
9                   BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
10             GRAVESEND  DA11 0BH            GB  POSTAL_ADDR_DEF  1322662123
11            GARDERMOEN      2061            NO  POSTAL_ADDR_DEF    67035520
12             SINGAPORE    534119            SG  POSTAL_ADDR_DEF    67896868
13               PAILLES     00000            MU                    230286900
14              MECHELEN      2800            BE                     27150219
15                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
16                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
17                  OSLO      0614            NO  POSTAL_ADDR_DEF    91632075
18               LYSAKER      1366            NO  POSTAL_ADDR_DEF    85449562
19               READING     RG2 0            GB  POSTAL_ADDR_DEF  1189169300
20              BAYREUTH     95448            DE  POSTAL_ADDR_DEF   921792790
21              BAYREUTH     95448            DE  POSTAL_ADDR_DEF   921792790
22                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
23                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
24                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
25                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
26            COPENHAGEN   DK 2400            DK  POSTAL_ADDR_DEF    33254012
27               SEA TAC     98188    WA      US   POSTAL_ADDR_US  2062428970
28              LYNNWOOD     98087    WA      US   POSTAL_ADDR_US     7555505
29           BRONNOYSUND      8910            NO  POSTAL_ADDR_DEF    75007500
30               LYSAKER      1366            NO  POSTAL_ADDR_DEF    85449562
31            COPENHAGEN   DK 2400            DK  POSTAL_ADDR_DEF    33254012
32             TRONDHEIM      7435            NO  POSTAL_ADDR_DEF    22864000
33                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
34                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
35                  OSLO      0614            NO  POSTAL_ADDR_DEF    91632075
36              LYNNWOOD     98087    WA      US   POSTAL_ADDR_US     7555505
37            GARDERMOEN      2061            NO  POSTAL_ADDR_DEF    64821500
38                  MOSS    N-1526            NO  POSTAL_ADDR_DEF    90047500
39             SINGAPORE    534103            SG                       562221
40                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
41                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
42            GARDERMOEN      2061            NO  POSTAL_ADDR_DEF    64821500
43           FOREST TOWN      2193            ZA  POSTAL_ADDR_DEF   115515500
44               HOUSTON     77065    TX      US   POSTAL_ADDR_US     4694635
45  VERRIERES LE BUISSON     91374            FR  POSTAL_ADDR_DEF   160114444
46                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
47                  BUHL    778 15            DE  POSTAL_ADDR_DEF    72232860
48              HATFIELD  AL10 9TW            GB  POSTAL_ADDR_DEF  1707637000
49      PARIS LA DEFENSE     92911            FR  POSTAL_ADDR_DEF   442166098
50             SINGAPORE    534103            SG                       562221

   PERSON_FIRST_NAME    PERSON_LAST_NAME
0                                Unknown
1             Thomas               Bonde
2            Bernard              Melson
3                                Unknown
4              Karen           Springgay
5             jerome             lavault
6              Cesar  Figuero Adormakaba
7             Neeraj           Bhatnagar
8                               Shipping
9           Vishakha          Chaturvedi
10                               Unknown
11               XXX                 ZZZ
12            Samuel               Chien
13           Praveen       Sheik Da Wood
14                              Coursier
15              John             Kissane
16           Warwick            Thompson
17                           Kristiansen
18            Joakim                Tang
19                                    AR
20             James              Waters
21                               Unknown
22              Mark                Gore
23             Marco             Manfron
24             Alica          Mikloskova
25           Rosetto            Stephane
26              Lars             Paulsen
27             Nancy            Anderson
28              Mary            Thrasher
29                               Unknown
30                              GIORDANO
31                                   mru
32                    INVOICE DEPARTMENT
33              Clay           Wesenberg
34              Jean             Nammour
35            Jaakko           Penttinen
36             Mihai             Diaconu
37            Gunnar               Rotan
38              Roar             Soeberg
39           Lee Pei                 Wen
40             JAMIE                TEOH
41                               Unknown
42              Mona             Harstad
43                                 blank
44             Kathy             Suttles
45                               Unknown
46             kevin              merten
47             hilde            henneman
48                               Unknown
49           Cyrille              Andreu
50          Wee Woon                Tian

In [61]:
type(Suppliers_Table)

pandas.core.frame.DataFrame

In [67]:
Suppliers_Address=Supplier_Master[['ADDRESS_LINE1','ADDRESS_LINE2','ADDRESS_LINE3','ADDRESS_LINE4','CITY','ZIP','STATE','COUNTRY','ADDRESS_STYLE']]
Suppliers_Address   #fetching only address column of the unique suppliers from the Supplier_Master df

,ADDRESS_LINE1,ADDRESS_LINE2,ADDRESS_LINE3,ADDRESS_LINE4,CITY,ZIP,STATE,COUNTRY,ADDRESS_STYLE
0,BASTIONSGATAN 6A,NaN,NaN,NaN,KARLSKRONA,37132,NaN,SE,POSTAL_ADDR_DEF
1,LENOVO TACHNOLOGY B.V - NORWAY BRANCH,ROSENHOLMVEIEN 25,NaN,NaN,KOLBOTN,N-1411,NaN,NO,POSTAL_ADDR_DEF
5,ORANGE BUSINESS HOLDINGS UK LTD,BETJEMAN PLACE,217 BATH ROAD,NaN,SLOUGH,SL1 4AA,NaN,GB,POSTAL_ADDR_DEF
7,POSTBOKS 347 SKOYEN,KARENSLYST ALLE 20,NaN,NaN,OSLO,0213,NaN,NO,POSTAL_ADDR_DEF
15,HEWLETT PACKARD ENTERPRISE COMPANY,3000 HANOVER STREET,NaN,NaN,PALO ALTO,94304,CA,US,POSTAL_ADDR_US
...,...,...,...,...,...,...,...,...,...
721,AIRCRAFT OPERATIONS,SERVICES DEPARTMENT PAL GATE 1-A,NICHOLS,NaN,"PASAY CITY, MANILA",1300,NaN,PH,POSTAL_ADDR_DEF
781,1 WESTPOINT COURT,GREAT PARK ROAD,NaN,NaN,ALMONDSBURY,BS32 4PS,NaN,GB,POSTAL_ADDR_DEF
841,200 S BARRINGTON AVE,49719,NaN,NaN,LOS ANGELES,90049-0719,CA,US,NaN
844,OLE DEVIKSVEI 10,NaN,NaN,NaN,OSLO,666,NaN,NO,POSTAL_ADDR_DEF
847,HQ,1 PLACE DE LA PYRAMIDE,LA DEFENSE 9,NaN,PARIS LA DEFENSE,92911,NaN,FR,POSTAL_ADDR_DEF

In [68]:
Suppliers_Contact=unique_suplier_details[['SUPPLIERID','SUPPLIER_NUMBER','SUPPLIER_NAME','TAXREGISTRATIONNUMBER','OU_NAME','PHONE','PERSON_FIRST_NAME','PERSON_LAST_NAME']]
Suppliers_Contact  #fetching only contact details of the unique suppliers from the supplier_master df

,SUPPLIERID,SUPPLIER_NUMBER,SUPPLIER_NAME,TAXREGISTRATIONNUMBER,OU_NAME,PHONE,PERSON_FIRST_NAME,PERSON_LAST_NAME
0,52093,30581,ZZZ -OUTPOST24 AB,SE556615210301,3104_NO_BV NORWAY_OU,+46 708 474306,Antonella,Marrale
1,13198,8468,LENOVO PCG,NaN,3104_NO_BV NORWAY_OU,NaN,Rene,Liang
5,1334,1045,ORANGE BUSINESS SERVICES,NaN,3104_NO_BV NORWAY_OU,NaN,bernard,ong
7,10493,2500,DELOITTE & TOUCHE,NaN,3104_NO_BV NORWAY_OU,NaN,NaN,Botan
15,3497,133,HEWLETT PACKARD INC,NaN,3104_NO_BV NORWAY_OU,NaN,celine,leroy
...,...,...,...,...,...,...,...,...
721,374210,34434,ZZZ - PHILLIPINE AIRLINES,NaN,3104_NO_BV NORWAY_OU,NaN,Terry,Deligero
781,10869,317,COMPUTACENTER,NaN,3104_NO_BV NORWAY_OU,NaN,NaN,Unknown
841,199210,33130,ZZZ - PETER F BROWN INDEPENDENT CONSULTANTX,NaN,3104_NO_BV NORWAY_OU,13106942278,Peter,Brown
844,439223,34805,CAVERION NORGE AS,949 069 743 MVA,3104_NO_BV NORWAY_OU,NaN,Bent,Hogemark
847,548214,35201,ZZZ - IB SA,NaN,3104_NO_BV NORWAY_OU,442166098,Cyrille,Andreu

In [69]:
from sqlalchemy import create_engine   #for connecting to the mysql database import the
                                        #create_engine method from sqlalchemy module

In [70]:
my_conn=create_engine("mysql+mysqldb://root:deeraj@localhost/suppliers") #give access to the mysql database

In [71]:
Suppliers_Contact.to_sql(con=my_conn,name='suppliers_contacts',if_exists='replace',index=False) 
#converting the fetched suppliers_contact dataframe into table (named-suppliers_contacts') in mysql database suppliers
#name=already exist table in mysql database  ,if_exists='replace'--if the table is already exist we have to replace

In [72]:
Suppliers_Address.to_sql(con=my_conn,name='suppliers_address1',if_exists='replace',index=False)
#converting the fetched suppliers_Address dataframe into table (named-suppliers_addres1') in mysql database suppliers